section{
  height: 100%;
  padding:150px 0;
}

#intro{
  background-color: #84ceeb;
}

.btn{
  border: none;
  outline: none;
  height: 50px;
  background-color: #8860d0;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover{
  background-color: white;
  border: 1px solid;
  color: black;
}